@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  background-color: #101419;
  color: #b6beca;
  font-family: 'Josefin Sans';
}

.topnav {
  background-color: #0e1217;
  overflow: hidden;
  margin-bottom: 0.7rem
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #b6beca;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #73c291;
  color: #101419;
}

.topnav a.tab {
  float: left;
}

.topnav a.social {
  float: right;
}

/* Add a color to the active/current link */
.topnav a.active {
  float: left;
  background-color: #73c291;
  color: #101419;
}

.indexbody {
  background-color: #0e1217;
  color: #b6beca;
  font-family: 'Josefin Sans';
  font-size: 13px;
  text-align: left;
  padding: 14px 16px;
  height: fill;
}
